[submodule "lib/StrokeEngine"]
	path = lib/StrokeEngine
	url = https://github.com/theelims/StrokeEngine.git
	branch = main
[submodule "lib/StrokeEngine-CANOpen"]
	path = lib/StrokeEngine-CANOpen
url=https://github.com/zylos146/StrokeEngine-CANOpen
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lib/OSSM-framework"]
	path = lib/OSSM-framework
	url = https://github.com/zylos146/OSSM-framework.git
[submodule "lib/hsmcpp"]
	path = lib/hsmcpp
	url = https://github.com/igor-krechetov/hsmcpp.git
