[submodule "lib/StrokeEngine"]
	path = lib/StrokeEngine
	url = https://github.com/theelims/StrokeEngine.git
	branch = main
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lib/CANOpenNode-ESP32"]
	path = lib/CANOpenNode-ESP32
	url = https://github.com/zylos146/CANOpenNode-ESP32.git
